@import "./mixins.scss";

$PRIMARY: #C8BEBC;
$SECONDARY: #B02200;
$DARK: #282c37;

#app, body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Verdana, Geneva, sans-serif;
  display: flex;

  .root {
    display: flex;

    .tools {
      display: flex;
      flex-direction: column;
      align-items: center;

      input[type="button"] {
        @include hoverEffect();
        border: 1px solid grey;
        background: none;
        width: 5em;
        height: 5em;
        border-radius: 5em;
        margin: 1em;
      }
    }
  }
}