@import 'global.scss';

$DIM: 15em;



.loop {
  display: flex;
  flex-direction: column;
  height: $DIM;
  width: $DIM;
  position: relative;
  margin: 1em;

  .border {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid grey;
    height: inherit;
    width: inherit;
    border-radius: 50%;
  }

  .info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .name {
    }

    .is-recording {
    }

    .measures {
      text-align: center;
    }

    .chunks {
    }
  }

  .actions {
    display: flex;
    align-content: center;
    align-items: center;

    & > span {
      @include hoverEffect();
      display: inline;
      border-radius: 1em;
      padding: 0.5em;
      margin: auto;
    }
  }
}