@import "./mixins.scss";

.Metronome {
  @include hoverEffect();
  text-align: center;
  background-color: red;

  progress {
    display: block;
  }

  &.muted {
    background-color: transparent;
    color: black;
  }
  & > input[type="checkbox"] {
    display: none;
  }
}