@import "./mixins.scss";

.Metronome {
  @include hoverEffect();
  border: 1px solid grey;
  margin: 1em;
  padding: 1em;
  border-radius: 5em;
  text-align: center;
  background-color: red;

  progress {
    display: block;
  }

  &.muted {
    background-color: transparent;
    color: black;
  }
  & > input[type="checkbox"] {
    display: none;
  }
}