.Ticker {
  span {
    display: inline-block;
    border: 1px solid;
    background: transparent;
    margin: 4px;
    height: 4px;
    width: 4px;

    &.current{
      background: black;
    }
  }
}